@charset "utf-8";
/* CSS Document */

.validator {
	float:left;
	margin-left:15px;
	color:#000000;
	width:190px;
}
	.validator .dialog{
		float:left;
		position:relative;
		background-color:#FFFFCC;
		background:#FFFFCC;
		border:1px solid #D4D5AA;
		width:180px;
		height:auto;
		padding-left:5px;
		padding-top:5px;
		padding-right:5px;
		padding-bottom:5px;
		margin-left:225px;
		z-index:200;
	}
		.validator .dialog .arrow{
			background:url(images/arrow.png) no-repeat;
			position:relative;
			float:left;
			width:12px;
			height:14px;
			left:-17px;
			z-index:210;
		}
		.validator .dialog .text{
			float:left;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:11px;
			font-weight:normal;
			text-align:left;
			margin-left:-10px;
			white-space:normal;
			width:175px;
		}
	
	.validator .icon_ok{
		float:left;
		margin-left:0px;
		width:16px;
		height:16px;
		background:url(images/icons/ok.png) no-repeat;
	}
